<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="ConnectionString" value="%ConnectionString%" />
		<add key="LogDir" value="%LOG_DIR%" />
		<add key="LogEnable" value="%Log_Enable%" />
		<add key="AKey" value="%KEY_WITH_SPACES%" />
		<add key="AnotherKey" value="%KEY_WITH_DQUOTES%" />
	</appSettings>
</configuration>