<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="ConnectionString" value="Server=myServerAddress;Database=myDataBase;User Id=myUsername;Password=myPassword;" />
		<add key="LogDir" value="C:\Logs\HCSMonitor" />
		<add key="LogEnable" value="True" />
		<add key="AKey" value="   spaced value " />
		<add key="AnotherKey" value="inter  spaced  value" />
	</appSettings>
</configuration>